acme==4.1.1
build==1.2.2.post1
certbot==4.1.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
ConfigArgParse==1.7.1
configobj==5.0.9
cryptography==45.0.5
distro==1.9.0
idna==3.10
josepy==2.1.0
packaging==25.0
parsedatetime==2.6
pycparser==2.22
pyOpenSSL==25.1.0
pyproject_hooks==1.2.0
pyRFC3339==2.0.1
pytz==2025.2
requests==2.32.4
setuptools==80.9.0
urllib3==2.5.0
